@keyframes header-menu {
  from {
    transform: translateX(-4px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes heart-scale {
  from {
    scale: 1;
    transform-origin: center;
  }

  to {
    scale: 1.5;
    transform-origin: center;
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.core {
  fill: var(--bg-color);
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  fill: var(--bg-color);
  transition: fill 0.3s 0.05s linear;
}

.sparks {
  transition: opacity 0.1s linear;
  opacity: 0;
}

.card__icon-button:hover .core {
  fill: var(--main-color);
  transition: fill 0.3s 0.03s linear;
}

.card__icon-button:active .main-body,
.card__icon-button:active .core,
.card__icon-button:active .contour,
.like-icon.is-liked .core,
.like-icon.is-liked .main-body {
  transition: fill 0.3s linear;
  fill: var(--heart-fill);
}

.like-icon.is-liked .contour {
  transition: fill 0.3s 0.06s linear;
  fill: var(--heart-fill);
}

.like-icon.is-liked .contour,
.like-icon.is-liked .core,
.like-icon.is-liked .main-body {
  animation: heart-scale 0.3s ease-in 0.1s 1 normal;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1;
}