:root.theme-dark {
  --main-color: #00CC14;
  --bg-color: #000000;
  --button-hover-text: #00CC14;
  --font-wght-regular: 'wght' 465;
  --font-wght-bold: 'wght' 785;
  --bg-image: 
  repeating-linear-gradient(
    to right,
    #000 0 2px,
    transparent 2px 4px
  ),
  repeating-linear-gradient(
    to bottom,
    #000 0 2px,
    transparent 2px 4px
  ),
  linear-gradient(
    to bottom,
    #007f0c 0.01%,
    #004306
  );
}

:root.theme-light {
  --main-color: #000000;
  --bg-color: #FFFFFF;
  --font-wght-regular: 'wght' 400;
  --font-wght-bold: 'wght' 700;
  --bg-image: 
  repeating-linear-gradient(
    to right,
    #d3d3d3 0 2px,
    transparent 2px 4px
  ),
  repeating-linear-gradient(
    to bottom,
    #d3d3d3 0 2px,
    transparent 2px 4px
  ),
  linear-gradient(
    to bottom,
    #e7e7e7 0.01%,
    #1a1a1a
  );
  --button-hover-text: #FFFFFF;
}

@media (prefers-color-scheme: dark) {

  :root {
    --main-color: #00CC14;
    --bg-color: #000000;
    --font-wght-regular: 'wght' 465;
    --font-wght-bold: 'wght' 785;
    --button-hover-text: #00CC14;
    --bg-image: 
      repeating-linear-gradient(
        to right,
        #000 0 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(
        to bottom,
        #000 0 2px,
        transparent 2px 4px
      ),
      linear-gradient(
        to bottom,
        #007f0c 0.1%,
        #004306
      );
  }
}